In [14]:
# Импортируйте библиотеки pandas и numpy.
import numpy as np
import pandas as pd

In [25]:
# Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. 
#Создайте датафреймы X и y из этих данных.
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [35]:
data = boston["data"]

In [38]:
target = boston["target"]
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [41]:
y = pd.DataFrame(target, columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [42]:
# Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) 
# с помощью функции train_test_split так, 
# чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [43]:
# Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [46]:
# Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых
lr.fit(X_train, y_train)

LinearRegression()

In [49]:
y_p = lr.predict(X_test)

In [50]:
ch_test = pd.DataFrame({
 "y_test": y_test["price"],
 "y_p": y_p.flatten(),
})
ch_test.head(10)

     y_test        y_p
38     24.7  22.922789
335    21.1  19.886267
205    22.6  22.655171
388    10.2   7.585111
249    26.2  23.099420
124    18.8  20.602950
183    32.5  31.454912
237    31.5  32.009075
68     17.4  17.844793
134    15.6  13.644631

In [52]:
# Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.
ch_test["error"] = ch_test["y_p"] - ch_test["y_test"]
ch_test.head()

     y_test        y_p     error
38     24.7  22.922789 -1.777211
335    21.1  19.886267 -1.213733
205    22.6  22.655171  0.055171
388    10.2   7.585111 -2.614889
249    26.2  23.099420 -3.100580

In [53]:
from sklearn.metrics import r2_score
r2_score_1=r2_score(ch_test["y_p"], ch_test["y_test"])
r2_score_1

0.6918448886461401

In [56]:
# Задание 2
# Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
# Сделайте агрумент n_estimators равным 1000,
# max_depth должен быть равен 12 и random_state сделайте равным 42.
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [57]:
# Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
# но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
# чтобы получить из датафрейма одномерный массив Numpy,
# так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [58]:
# Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
y_p = model.predict(X_test)
y_p.shape

(152,)

In [59]:
ch_test = pd.DataFrame({
 "y_test": y_test["price"],
 "y_p": y_p.flatten(),
})
ch_test.head(10)

     y_test        y_p
38     24.7  20.800975
335    21.1  20.186488
205    22.6  21.927075
388    10.2   8.488274
249    26.2  26.197982
124    18.8  19.121372
183    32.5  29.906862
237    31.5  33.169168
68     17.4  19.275473
134    15.6  15.277179

In [63]:
r2_score_2=r2_score(ch_test["y_p"], ch_test["y_test"])
r2_score_2

0.862835658785259

In [64]:
#Сравните с результатом из предыдущего задания.
#Напишите в комментариях к коду, какая модель в данном случае работает лучше.
r2_score_1<r2_score_2

True

In [65]:
# Модель RandomForestRegressor работает лучше, чем модель LinearRegression

In [67]:
# *Задание 3
# Вызовите документацию для класса RandomForestRegressor,
?RandomForestRegressor

In [68]:
# найдите информацию об атрибуте feature_importances_.
#С помощью этого атрибута найдите сумму всех показателей важности,

In [70]:
model.feature_importances_.sum()

1.0000000000000002